* {
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: min-content minmax(400px, auto);
}
textarea {
    max-width: 100%;
    resize: vertical;
}
.result {
    width: 100%;
    min-height: 600px;
    resize: vertical;
}
.generate {
    width: 100%;
    height: 60px;
    margin: 20px 0;
}
.footer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.preview {
    width: 100%;
    height: 300px;
}
